.footer {
    height: 612px;
    flex-shrink: 0;
    background-image: url("img/Vector\ 11.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-self: center;
    .footer__container {
        display: flex;
        justify-content: center;
        .footer__box {
            width: 1400px;
            height: 286px;
            flex-shrink: 0;
            margin-top: 204px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footer__item1 {
                width: 293px;
                height: 286px;
                flex-shrink: 0;
                  img{
                    cursor: pointer;
                  }
                
                p {
                    color: #fff;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 21px; /* 150% */
                    margin-top: 38.46px;
                    width: 246px;
                    height: 42px;
                }
                .socials {
                    margin-top: 51px;
                    cursor: pointer;
                }
            }
            .footer__item2 {


                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 30px;
                p {
                    color: #FFF;
                    font-family: Roboto Slab;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.28px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
            .footer__item3 {
                width: 313px;
                height: 286px;
                flex-shrink: 0;
                h1 {
                    color: #fff;
                    font-family: Roboto Slab;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 21px; /* 150% */
                    margin-left: -5px;
                }
                .footer__input1 {
                    display: inline-flex;
                    margin-top: 20px;
                    width: 302px;
                    height: 52px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background: #89363d;
                    color: white;
                    padding: 17px 22px 18px 23px;
                    &::placeholder {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.3px;
                        color: white;
                    }
                }
                .footer__input2 {
                    width: 302px;
                    height: 52px;
                    margin-top: 29px;
                    border-radius: 5px;
                    border: 2px solid rgba(176, 76, 8, 0);
                    background: #89363d;
                    color: #fff;
                    display: flex;
                    height: 52px;
                    padding: 17px 22px 18px 23px;
                    justify-content: center;
                    align-items: center;
                    outline: none;
                    &::placeholder {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.3px;
                        color: white;
                    }
                }
                .footer__btn{
display: flex;
width: 302px;
margin-top: 34px;
height: 52px;
justify-content: center;
align-items: center;
border-radius: 5px;
background: #B04C08;
box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.09);
border: none;
color: #FFF;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 150% */
text-transform: uppercase;
                }
            }
        }
    }
}
