.phills{
height: 946.023px;
flex-shrink: 0;
background: rgba(225, 225, 225, 0.20);
backdrop-filter: blur(10px);
background-image: url("./img/Rectangle\ 16.png");
.phills__box{
    display: flex;
align-items: center;
justify-content: space-between;
height: 946.023px;
}
}
